extends layout

block content

  - let words = ["one", "two", "three"];
  // below is a block-level unbuffered code block - https://github.com/pugjs/pug/issues/502#issuecomment-137893041
  -
    let negative_traits = [
      "abandoned", "able", "absolute", "academic", "acceptable", "acclaimed", "accomplished", "accurate", "aching", 
      "acidic", "acrobatic", "active", "actual", "adept", "admirable", "admired", "adolescent", "adorable", "adored",
      "advanced", "adventurous", "affectionate", "afraid", "aged", "aggravating", "aggressive", "agile", "agitated", 
      "agonizing", "agreeable", "ajar", "alarmed", "alarming", "alert", "alienated", "alive", "all", "altruistic", 
      "amazing", "ambitious", "ample", "amused", "amusing", "anchored", "ancient", "angelic", "angry", "anguished", 
      "animated", "annual", "another", "antique", "anxious", "any", "apprehensive", "appropriate", "apt", "arctic", 
      "arid", "aromatic", "artistic", "ashamed", "assured", "astonishing", "athletic", "attached", "attentive", 
      "attractive", "austere", "authentic", "authorized", "automatic", "avaricious", "average", "aware", "awesome", 
      "awful", "awkward",
    ];
  
    let positive_traits = [
      "babyish", "back", "bad", "baggy", "bare", "barren", "basic", "beautiful", "belated", "beloved", "beneficial", 
      "best", "better", "bewitched", "big", "big-hearted", "biodegradable", "bite-sized", "bitter", "black", 
      "black-and-white", "bland", "blank", "blaring", "bleak", "blind", "blissful", "blond", "blue", "blushing", 
      "bogus", "boiling", "bold", "bony", "boring", "bossy", "both", "bouncy", "bountiful", "bowed", "brave", "breakable", 
      "brief", "bright", "brilliant", "brisk", "broken", "bronze", "brown", "bruised", "bubbly", "bulky", "bumpy", 
      "buoyant", "burdensome", "burly", "bustling", "busy", "buttery", "buzzing",
    ];

  div.container
    div.jumbotron.jumbotron-fluid
      h1= title
      p Welcome to #{title}
      a(href="http://localhost:3000") Home
  
  div.container
    div.row
      h2.col-3 Name Entry
  div.container
    form(method="POST" action="")
      div.form-group.col-md-3
        label(for='fname') First Name:
        input#fname.form-control(type="text", placeholder="Type first name here..." name='fname')
      div.form-group.col-md-3
        label(for='lname') Last Name:
        input#lname.form-control(type="text", placeholder="Type last name here..." name='lname')
      div.form-group.col-md-3
        label(for='ptraits') Positive Traits:
        select#ptraits.form-contol(name="ptraits")
          each trait in positive_traits
            option= trait
      div.form-group.col-md-3
        label(for='ntraits') Negative Traits:
        select#ntraits.form-contol(name="ntraits")
          each trait in negative_traits
            option= trait
      button.btn.btn-outline-primary(type='submit') Submit
      
  if errors
    ul
      for error in errors
        li!= error.msg
